:root {
  /* Just for reference */
  --accent-1: rgb(229, 43, 198);
  --accent-1-opacity: rgba(229, 43, 198, 0.6);
  --accent-2: rgb(125, 53, 156);
  --accent-2-opacity: rgba(125, 53, 156, 0.6);
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  /* Use a default font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(255, 255, 255);
  color: #333;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(101, 101, 101);
    color: white;
  }
}

img {
  max-width: 100%;
}

nav#main-nav, footer {
  background-color: var(--accent-1-opacity);
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
}

div#app {
  max-width: 800px;
  margin: 60px auto; /* 30px spacing to top and bottom, i.e. the bars + 30px */
  padding: 10px;
}

nav#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 1; /* Prevents a visual glitch with flexbox containers on the page */
}

nav#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  display: inline-block;
}

nav#main-nav ul.nav-left {
  float: left;
  margin-left: 10px;
}
nav#main-nav ul.nav-right {
  float: right;
  margin-right: 10px;
}

nav#main-nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
}

nav#main-nav ul li form {
  display: inline-block;
}

nav#main-nav ul li a {
  text-decoration: none;
  display: inline-block;
  line-height: 30px;
  text-decoration: none;
  margin: 0;
  color: white;
  padding: 0px 10px;
  line-height: 30px;
  transition: 0.2s all ease;
}

nav#main-nav ul li a:hover {
  background-color: var(--accent-2);
}

hr {
  margin: 5px 20%;
  border: none;
  border-top: 2px solid rgb(93, 96, 114)
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin: 10px;
}

textarea#sentence-input {
  width: 100%;
  height: 150px;
  font-size: 130%;
  font-family: inherit;
  resize: vertical;
  margin: 10px 0px;
  padding: 6px 12px;
  border: 2px solid var(--accent-1);
  border-radius: 8px;
}

button#viz-button {
  width: 100%;
  font-size: 130%;
  padding: 6px 12px;
  margin: 10px 0px;
  background-color: var(--accent-2);
  color: white;
  border: none;
  border-radius: 8px;
}

/* TOKENS AND VISUALIZATION */

div#output {
  cursor: default;
  margin-top: 40px;
}

.token {
  display: inline-block;
  border-radius: 4px;
  padding: 0 2px;
  margin: 10px 5px;
  line-height: 150%;
  color: black;
}

.token:hover { outline: 2px solid var(--accent-1); }

.token.ROOT {
  background-color: rgb(229, 43, 198);
  color: white;
}

.token.nsubj {
  background-color: rgb(125, 53, 156);
  color: white;
}

.token.highlight {
  outline: 2px solid yellow;
}

.token.dimmed { opacity: 0.2; }

/* Verbs */
.token.pos-VERB { background-color: rgb(255, 100, 255); }
.token.pos-ADV  { background-color: rgb(255, 150, 255); }
.token.pos-AUX  { background-color: rgb(255, 200, 255); }
.token.pos-ADJ  { background-color: rgb(255, 159, 159); }
/* Nouns */
.token.pos-ADP   { background-color: rgb(200, 235, 230); }
.token.pos-DET   { background-color: rgb(200, 235, 200); }
.token.pos-PRON  { background-color: rgb(75, 255, 200); }
.token.pos-NOUN  { background-color: rgb(0, 255, 255); }
.token.pos-PROPN { background-color: rgb(0, 255, 255); }
/* Conjunctions */
.token.pos-SCONJ { background-color: rgb(255, 255, 0); }
.token.pos-CCONJ { background-color: rgb(255, 255, 150); }
/* Miscellaneous */
.token.pos-PUNCT { background-color: rgb(240, 240, 240); }
.token.pos-INTJ  { background-color: rgb(220, 220, 220); }
.token.pos-PART  { background-color: rgb(200, 200, 200); }
.token.pos-NUM   { background-color: rgb(190, 190, 190); }
.token.pos-SYM   { background-color: rgb(180, 180, 180); }
.token.pos-X     { background-color: black; color: white; }
